p {
    font-size: 100px;
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: row-reverse;
}


.btn1 {
    width: 300px;
    height: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 880px;
    margin-top: -90px;
}
